:root {
  /*------------ Colors -----------*/
  /*Primary*/
  --AliceBlue: rgb(240, 248, 255);
  --Dark-Charcoal: rgb(48, 48, 48);
  /*Other Color*/
  --AliceBlueOpacity: rgb(240, 248, 255,65%);
  --blue: rgb(0, 141, 199);
  --Snowflake: rgb(240, 240, 240);
  /*------------typography-----------*/
  /*typography*/
  --Larger-Font-Size: 65px;
  --big-Font-Size: 40px;
  --medium-Font-Size: 30px;
  /*Font weight */
  --font-regular:400;
  --font-medium:500;
  --font-bold: 700;
  /*Borders*/
  --input-Border: 2px solid var(--Black-Glaze);
  --rd-Frames: 20px;
}

@font-face {
  font-family: "Geomanist";
  src: url("../../../font/Geomanist/Geomanist-Bold.otf");
  src: url("../../../font/Geomanist/Geomanist-Regular.otf");
  src: url("../../../font/Geomanist/Geomanist-Medium.otf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Geomanist", sans-serif;
}

header {
  width: 1920px;
  height: 1080px;
  background-color: transparent;
  background-image: url("../../images/bg-planet-earth.png");
  background-position: center;
  background-size: cover;
}
header nav {
  width: 1781px;
  height: 90px;
  margin: 0 69px;
  display: flex;
  justify-content: space-between;
  padding: 10px 120px;
}
header nav .logo {
  width: 50px;
  height: 50px;
  background-color: aqua;
}
header nav .pageControlling {
  width: 200px;
  height: 70px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 7px 25px;
}
header .heroSc {
  width: 1781px;
  height: 600px;
  margin: 0 69px;
}
header .heroSc span {
  width: 957px;
  height: 78px;
  border-radius: 15px;
  display: inline-block;
  background-color: transparent;
  display: flex;
  position: relative;
  top: 220px;
  margin: auto;
}
header .topicSc {
  width: 1781px;
  height: 280px;
  margin: 0 69px;
  display: flex;
  justify-content: space-between;
  padding: 10px 120px;
}
header .topicSc .Topic-item {
  width: 350px;
  height: 100px;
  background-color: var(--AliceBlueOpacity);
  border-radius: 15px;
  display: flex;
  cursor: pointer;
}

.testing-section {
  width: 1920px;
  height: 1200px;
  background: transparent;
}
.testing-section .section-head {
  width: inherit;
  height: 300px;
  background-color: rgba(241, 241, 241, 0.6588235294);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.testing-section .section-head .devisesSquareCards {
  width: 1400px;
  height: 250px;
  position: relative;
  top: 25px;
  left: 260px;
  display: flex;
}
.testing-section .section-head .devisesSquareCards .device-Card {
  width: 260px;
  height: 250px;
  margin: 5px 50px;
  border-radius: 15px;
  cursor: pointer;
  display: grid;
}
.testing-section .section-head .devisesSquareCards .device-Card img {
  margin: auto;
}
.testing-section .section-head .devisesSquareCards .device-Card span {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 400;
}
.testing-section .display-Square {
  width: inherit;
  height: 900px;
}
.testing-section .display-Square .viewer-wrapp {
  width: 360px;
  height: 800px;
  border-radius: 15px;
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(5%);
  border: 5px var(--Dark-Charcoal) solid;
  transition: width 0.5s, height 0.5s;
}

.topicFocusingLook {
  background-color: var(--Snowflake);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

nav .pageControlling .NavButton {
  width: 55px;
  height: 55px;
  background-color: transparent;
  border-radius: 12px;
  cursor: pointer;
  transition: 2s;
}
nav .pageControlling .NavButton:hover {
  background-color: var(--AliceBlueOpacity);
}

.heroSc .heroSc-Title {
  width: 950px;
  height: 70px;
  font-size: var(--Larger-Font-Size);
  font-weight: var(--font-bold);
  color: var(--AliceBlue);
  text-transform: capitalize;
  text-align: center;
  margin: auto;
  position: relative;
  top: 130px;
}

span .textField-Checker {
  background-color: var(--AliceBlueOpacity);
  width: 85%;
  height: 100%;
  font-size: 30px;
  font-weight: var(--font-regular);
  border-radius: 25px 0px 0px 25px;
  padding-left: 20px;
  border: var(--blue) solid 3px;
}
span .textField-Checker::-moz-placeholder {
  color: var(--Dark-Charcoal);
}
span .textField-Checker::placeholder {
  color: var(--Dark-Charcoal);
}

span .btn-Check {
  width: 15%;
  height: 100%;
  background-color: var(--blue);
  border-radius: 0px 25px 25px 0px;
  transition: 0.4s;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--AliceBlue);
  font-size: 28px;
  font-weight: 700;
}
span .btn-Check:hover {
  background-color: var(--AliceBlueOpacity);
}

.Topic-item .tpc-title {
  width: 260px;
  height: 50px;
  font-size: var(--Big-Font-Size);
  text-transform: capitalize;
  margin-top: 25px;
  padding-left: 10px;
  color: var(--AliceBlue);
}
.Topic-item img {
  margin: 10px;
}/*# sourceMappingURL=main.css.map */