
@font-face {
    font-family: 'Geomanist';
    src: url("../../../font/Geomanist/Geomanist-Bold.otf");
    src: url("../../../font/Geomanist/Geomanist-Regular.otf");
    src: url("../../../font/Geomanist/Geomanist-Medium.otf");
  }
* {
    box-sizing: border-box;
    margin: 0; padding: 0;
    border: none; outline: none;
    user-select: none;
    font-family:'Geomanist', sans-serif;
}