//nav button
nav .pageControlling .NavButton {
    width: 55px;
    height: 55px;
    background-color: transparent;
    border-radius: 12px;
    cursor: pointer;
    transition: 2s;

    &:hover{
        background-color: var(--AliceBlueOpacity);
    }
}

.heroSc  .heroSc-Title {
    width: 850px;
    height: var(--Larger-Font-Size);
    font-size: 60px;
    font-weight: 700;
    color: var(--AliceBlue);
    text-transform: capitalize;
    text-align: center;
    margin:auto;
    position: relative;
    top: 120px;

}


span .textField-Checker {
    background-color: var(--AliceBlueOpacity);
    width: 85%;
    height: 100%;
    font-size: 30px;
    border-radius: 25px 0px 0px 25px;
    padding-left: 20px;
    border: var(--blue) solid 3px;
    &::placeholder {
        color: var(--Dark-Charcoal);
    }
}

span .btn-Check {

    width: 15%;
    height: 100%;
    background-color: var(--blue);
    border-radius: 0px 25px 25px 0px;
    transition: .4s;
    cursor: pointer;
    text-transform: capitalize;
    color: var(--AliceBlue);
    font-size: 28px;
    font-weight: 700;


    &:hover {
      background-color: var(--AliceBlueOpacity);
    }
}


.Topic-item{

    .tpc-title {
        width: 245px;
        height: 50px;
        font-size: var(--Big-Font-Size);
        text-transform: capitalize;
        margin-top: 25px;
        padding-left: 10px;
        color: var(--AliceBlue);
       
    }

    img {
        margin: 10px;
    }

}