


:root {

    /*------------ Colors -----------*/
    /*Primary*/
    --AliceBlue: rgb(240, 248, 255);
    --Dark-Charcoal: rgb(48, 48, 48);

    /*Other Color*/
    --AliceBlueOpacity: rgb(240, 248, 255,65%); //with opacity
    --blue: rgb(0, 141, 199);
    --Snowflake: rgb(240, 240, 240);

    
    /*------------typography-----------*/
    
    /*typography*/
    --Larger-Font-Size: 65px; //heading..
    --big-Font-Size: 40px; //for subheading...
    --medium-Font-Size: 30px; 
    
 
    
    /*Font weight */
    --font-regular :400; 
    --font-medium:500; 
    --font-bold: 700; //for heading
    
    /*Borders*/
    --input-Border: 2px solid var(--Black-Glaze);
    --rd-Frames: 20px;
    }