


:root {

    /*------------ Colors -----------*/
    /*Primary*/
    --AliceBlue: rgb(240, 248, 255);
    --Dark-Charcoal: rgb(48, 48, 48);

    /*Other Color*/
    --AliceBlueOpacity: rgb(240, 248, 255,65%); //with opacity
    --blue: rgb(0, 141, 199);

    
    /*------------typography-----------*/
    
    /*typography*/
    --Larger-Font-Size: 60px; /*heading*/
    --Big-Font-Size: 250.0%;
    --Normal-Font-Size: 218.75%; /* for p */
    --Small-Font-Size: 156.25%; /*for a*/
    
    /*Font weight */
    --font-regular :400;
    --font-medium:500; /*for a */
    --font-semibold:600;
    --font-bold: 700;
    
    /*Borders*/
    --input-Border: 2px solid var(--Black-Glaze);
    --rd-Frames: 20px;
    }